@page

@using Newtonsoft.Json;
@using Savanna.Commons.Constants;
@using Savanna.Commons.Models;
@using SavannaWebApplication.Constants;
@using SavannaWebApplication.Models;

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model IndexModel

@{
    ViewData["Title"] = "Home page";
    var requestToken = Antiforgery.GetAndStoreTokens(PageContext.HttpContext).RequestToken;
}

<input id="RequestVerificationToken" type="hidden" value="@requestToken" />
<input type="hidden" id="currentUserId" value="@User.Identity.Name" />
<div class="container text-center"">
    <div class="row justify-content-md-center" style="margin-left: 18%; margin-top: 2%;">
        <div id="heading" style="margin-right: 24%;">
            <h1 class="display-6">Welcome to the Savanna!</h1>
            <hr class="my-4">
        </div>
        <div id="buttons" class="col-2" style="margin-top: 5%;">
            @{
                var animalsString = HttpContext.Session.GetString(SessionConstants.AnimalList);
                var animalsDTO = JsonConvert.DeserializeObject<List<AnimalBaseDTO>>(animalsString);
            }
            @foreach (var animal in animalsDTO)
            {
                <div>
                    <button class="btn btn-primary text-black row mt-3" onclick="addAnimal(this.getAttribute('value'))" value="@animal.Name">Add @animal.Name</button>
                </div>
            }
        </div>
        <div id="grid" class="col-lg-6 mt-5" style="width: 30%;">
            <div id="gridContainer" class="container text-center gridDivs" style="margin-top: 8%;">

            </div>
        </div>
        <div id="loadSave" class="col-2" style="margin-top: 6%; margin-right: 35%; width: 2.5%;">
            <button id="startButton" class="btn btn-primary text-black row mt-3" onclick="newGame()">Start</button>
            <div class="row form-outline mt-3" style="width: 55px;">
                <input type="text" id="gameDimensions" class="form-control" placeholder="Dim" />
            </div>

            <button id="saveButton" class="btn btn-primary text-black row mt-3" onclick="saveGame()">Save</button>

            <button id="loadButton" class="btn btn-primary text-black row mt-3" onclick="loadGame()">Load</button>
            <div class="row form-outline mt-3" style="width: 55px;">
                <input type="text" id="loadId" class="form-control" placeholder="Id" />
            </div>
        </div>
        <div id="gameInfo" style="width: 50%; margin-right: 27%; margin-top: 1.5%;">
            @{
                var colId = 0;
            }
            @foreach(var info in Model.GameInfo)
            {
                var text = info;
                if (info != Model.GameInfo.Last())
                {
                    text = info + GridConstants.GameInfoDividor;
                }
                <span id="info @colId">@text</span>
                colId++;
            }
        </div>
    </div>
</div>