@page
@using Newtonsoft.Json;
@using SavannaWebApplication.Constants;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var requestToken = Antiforgery.GetAndStoreTokens(PageContext.HttpContext).RequestToken;
}
<input id="RequestVerificationToken" type="hidden" value="@requestToken" />
<div class="container text-center"">
    <div class="row justify-content-md-center" style="margin-left: 18%; margin-top: 2%;">
        <div id="heading" style="margin-right: 24%;">
            <h1 class="display-6">Welcome to the Savanna!</h1>
            <hr class="my-4">
            <p>Click on the buttons below to add animals to the grid.</p>
        </div>
        <div id="buttons" class="col col-2" style="margin-top: 5%;">
            @foreach (var animal in IndexModel.Animals)
            {
                <div>
                    <button class="btn btn-primary text-black row mt-3" onclick="addAnimal(this.getAttribute('value'))" value="@animal.Name">Add @animal.Name</button>
                </div>
            }
        </div>
        <div id="grid" class="col col-lg-6 bd-example-row" style="margin-right: 13.5%;">
            <div class="container text-center gridDivs" style="margin-top: 8%;">
                @{
                    int colId = 0;
                }
                @for (int i = 0; i < MathF.Sqrt((float)HttpContext.Session.GetInt32(IndexModel.SessionGridDimensionKey)); i++)
                {
                    <div class="row">
                        @for (int j = 0; j < MathF.Sqrt((float)HttpContext.Session.GetInt32(IndexModel.SessionGridDimensionKey)); j++)
                        {
                            char gridText = GridConstants.EmptyCell;
                            <div id="col @colId" class="col box bg-secondary border d-flex justify-content-center">
                                <span id="gridCells" style="margin-top: 50%;">@gridText</span>
                            </div>
                            colId++;
                        }
                    </div>
                }
            </div>
        </div>
        <div id="gameInfo" style="width: 50%; margin-right: 22.5%; margin-top: 1.5%;">
            @{
                colId = 0;
            }
            @foreach(var info in Model.GameInfo)
            {
                var text = info;
                if (info != Model.GameInfo.Last())
                {
                    text = info + GridConstants.GameInfoDividor;
                }
                <span id="info @colId">@text</span>
                colId++;
            }
        </div>
    </div>
</div>